wimoor-admin/target/
wimoor-amazon/target/
wimoor-auth/target/
wimoor-common/target/
wimoor-erp/target/
wimoor-gateway/target/
wimoor-shopee/target/
target
/wimoor-admin/admin-boot/*.factorypath
*.factorypath
.factorypath
.apt_generated
.apt_generated_tests

wimoor-ui/.DS_Store
wimoor-ui/dist


# local env files
wimoor-ui/.env.local
wimoor-ui/.env.*.local

# Log files
wimoor-ui/npm-debug.log*
wimoor-ui/yarn-debug.log*
wimoor-ui/yarn-error.log*
wimoor-ui/pnpm-debug.log*



# Editor directories and files
wimoor-ui/node
wimoor-ui/.idea
wimoor-ui/.vscode
wimoor-ui/*.suo
wimoor-ui/*.ntvs*
wimoor-ui/*.njsproj
wimoor-ui/*.sln
wimoor-ui/*.sw?
wimoor-ui/node_modules/
wimoor-ui/src/views/customized/